In [36]:
import numpy as np
import pandas as pd
import utils as ut
from matplotlib import pyplot as plt
%matplotlib inline
reload(ut)

In [37]:
djt = ut.load_candidate()

	Options

            1: trump from lab computer

            2: trump from linux mint

            3: clinton from lab computer

            4: clinton from linux mint


Enter number >> 1
Loading file...
Errors: 0
Time: 13.4125630856

clean_text
Time: 29.0408239365

convert time
Time: 16.6457738876

In [38]:
djt_df = djt.make_df()
djt_df.head()

,date,time,timestamp,usr_fol,usr_num_stat,usr_fri,n_weblinks,n_mentions,n_hashtags,RT
0,2016-10-19,08:00:13,1.476886e+09,684.0,4048.0,1221.0,1,2,0,0
1,2016-10-19,08:00:14,1.476886e+09,90.0,772.0,107.0,1,0,0,0
2,2016-10-19,08:00:14,1.476886e+09,242.0,11124.0,273.0,0,0,1,0
3,2016-10-19,08:00:14,1.476886e+09,10.0,271.0,10.0,0,3,0,0
4,2016-10-19,08:00:14,1.476886e+09,1730.0,27397.0,2370.0,1,1,0,1

In [39]:
djt_df_dates = djt_df.groupby(by='date')
djt_df_dates.get_group(djt_df_dates.groups.keys()[9]).tail()

,date,time,timestamp,usr_fol,usr_num_stat,usr_fri,n_weblinks,n_mentions,n_hashtags,RT
2433870,2016-11-08,23:59:59,1.478675e+09,352.0,8644.0,208.0,0,1,0,1
2433871,2016-11-08,23:59:59,1.478675e+09,1170.0,24766.0,507.0,0,1,0,1
2433872,2016-11-08,23:59:59,1.478675e+09,313.0,22055.0,171.0,1,1,0,1
2433873,2016-11-08,23:59:59,1.478675e+09,8437.0,44209.0,5652.0,1,1,0,0
2433874,2016-11-08,23:59:59,1.478675e+09,222.0,1920.0,147.0,1,1,0,1

In [40]:
hrc = ut.load_candidate()

	Options

            1: trump from lab computer

            2: trump from linux mint

            3: clinton from lab computer

            4: clinton from linux mint


Enter number >> 3
Loading file...
Errors: 0
Time: 10.9397311211

clean_text
Time: 22.6880061626

convert time
Time: 15.39874506

In [41]:
hrc_df = hrc.make_df()
hrc_df.head()

,date,time,timestamp,usr_fol,usr_num_stat,usr_fri,n_weblinks,n_mentions,n_hashtags,RT
0,2016-10-19,05:51:38,1.476878e+09,463.0,8584.0,300.0,1,1,0,1
1,2016-10-19,05:51:38,1.476878e+09,2216.0,17054.0,3373.0,0,2,0,1
2,2016-10-19,05:51:39,1.476878e+09,272.0,12038.0,214.0,1,1,1,1
3,2016-10-19,05:51:39,1.476878e+09,782.0,2989.0,1338.0,1,0,0,0
4,2016-10-19,05:51:39,1.476878e+09,524.0,7690.0,527.0,1,0,0,0

In [42]:
hrc_df_dates = hrc_df.groupby(by='date')
hrc_df_dates.get_group(hrc_df_dates.groups.keys()[9]).tail()

,date,time,timestamp,usr_fol,usr_num_stat,usr_fri,n_weblinks,n_mentions,n_hashtags,RT
1896287,2016-11-08,23:59:59,1.478675e+09,196.0,5193.0,146.0,0,1,0,1
1896288,2016-11-08,23:59:59,1.478675e+09,221.0,7743.0,167.0,1,1,0,1
1896289,2016-11-08,23:59:59,1.478675e+09,356.0,11617.0,404.0,0,1,0,1
1896292,2016-11-08,23:59:59,1.478675e+09,31.0,3034.0,165.0,0,1,0,1
1896299,2016-11-08,23:59:59,1.478675e+09,794.0,14783.0,1376.0,1,0,0,0